/* ********************
html / body styles
******************** */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --body-bg: #eff2f1;
    --p1board-bg: none;
    --otherplayers-bg: #f3f3f3;
    --accent-bg: #E4E7F1;
    --sidebar-bg: #91A1D1;
    --font-color: #1E1E1E;
    --font-color-light: #fff;
    --font-family-main: "Roboto", "Helvetica", sans-serif;
    --font-family-button: "Roboto Mono", monospace;
    --font-title: "Calistoga", monospace;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
.darkMode {
    --body-bg: #252525;
    --font-color: #f5f5f5;
}
body {
    background-color: var(--body-bg);
    color: var(--font-color);
    font-family: var(--font-family-main);
    font-size: 1.5rem;
    line-height: 1.5;
}
header {
    justify-content: space-between;
    font-size: 3rem;
}
main {
    width: 500px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
button {
    margin: 5px;
}
label {
    margin-right: 5px;
}
label:after {
    content: ':';
}
.flex {
    display: flex;
    flex-flow: row wrap;
}
/* ********************
headings
******************** */
h1 {
    font-size: 3rem;
    font-family: var(--font-title);
    font-weight: bold;
}
h2 {
    color: var(--font-color);
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
}
h6 {
    display: inline-block;
}
h6:after {
    content: ':';
}

/* ********************
game grid
******************** */


/* ********************
game log
******************** */
.movesListContainer {
    padding: 20px;
    height: 250px;
    overflow: auto;
}
.movesListIntro {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
#movesList {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.movesListContainer li {
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 10px;
    display: block;
    width: fit-content;
    clear: both;
}
.rollDiceMessage {
    background: none;
    text-align: center;
}
.showAllDiceLi {
    background: none;
}
.showAllDice {
    background: none;
}
.showAllDiceLi:before {
    content: 'All dice:';
    text-align: center;
    margin-bottom: 4px;
    display: block;
}
.showAllDice li {
    padding: 0;
    margin: 0;
    background: none;
}
.showAllDice img {
    width: 26px;
    height: 26px;
    margin: 2px;
}
.playerBid {
    color: #fff;
    background: green;
    font-weight: bold;
    align-self: flex-start;
    clear: both;
}
.botBidLi {
    background: #ddd;
    color: #1E1E1E;
    align-self: flex-end;
}
.liarCall {
    background: red;
    color: #fff;
}
.liarEvent {
    background: #cacaca;
}
.winner {
    background: green;
    color: #fff;
}
/* ********************
player boards
******************** */
#player1Board {
    grid-area: p1;
    background: var(--p1board-bg);
    padding: 15px;
    height: 130px;
    display: grid;
    grid-template-areas: 'dice dice' 'diceRemaining lastBid';
    grid-template-columns: 1fr 1fr;
}
.p1DiceDisplay {
    list-style-type: none;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    grid-area: dice;
    height: 75px;
}
#player1Board .diceRemaining {
    grid-area: diceRemaining;
    text-align: left;
}
#player1Board .lastBid {
    grid-area: lastBid;
    text-align: right;
}
.p1DiceDisplay img {
    width: 55px;
    height: 55px;
}
.playerBots {
    grid-area: pBots;
    gap: 5px;
}
.playerBots h2 {
    width: 150px;
    text-align: left;
}
.pBot {
    background: var(--otherplayers-bg);
    flex-basis: 100%;
    justify-content: space-between;
    padding: 3px 8px;
}
.pBot:nth-of-type(-2n + 3) {
    background: #d6d6d6;
}
.diceRemaining {
    text-align: right;
}
#player2Board {
    grid-area: p2;
}
#player3Board {
    grid-area: p3;
}
#player4Board {
    grid-area: p4;
}
#player5Board {
    grid-area: p5;
}
.bidDie {
    width: 20px;
    height: 20px;
}

/* ********************
buttons and inputs
******************** */
.p1PlayerOptions {
    grid-area: playerOptions;
    background: var(--p1board-bg);
    padding: 10px;
}
input[type="number"] {
    width: 80px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    padding: 3px;
    margin-right: 10px;
}
.buttons {
    margin-top: 10px;
}
/* ********************
media queries 
******************** */

/* ********************
animation
******************** */
@keyframes movesListAppend {
    0% {
        transform: scale(0);
		opacity: 0;
    }
    100% {
        transform: scale(1);
		opacity: 1;
    }
}
.movesListAppend {
    animation: movesListAppend .2s linear;
}



.hide {
    display: none;
}